.App {
  text-align: center;
  background-color: #96b6e7;
  padding-top: 80px;
  padding-bottom: 10px;
}
.footer_upcloud{
  display: flex;
  justify-content: flex-start;
  color: black;
  font-weight: 600;
  font-size: 18px;
  padding: 20px 20px 0px 20px;
  margin-left: 180px;
}

@media only screen and (max-width: 600px) {
  .footer_upcloud{
    font-size: 14px;
    justify-content: center;
  }
<<<<<<< HEAD
}
=======
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 500px) {
  .App {
    background-color: white;
    padding-top: 50px;
    padding-bottom: 60px;
    text-align: left;
  }
}
>>>>>>> dc06cc53cb44da864e57123c899eca830a380f4d
